<!-- Sourced from https://tailwindflex.com/@brandon/a-fullscreen-hero-section-->
<div class="flex flex-wrap">
    <div class="w-full sm:w-8/12 mb-10">
      <div class="container mx-auto h-full sm:p-10">
        <nav class="flex px-4 justify-between items-center">
          <div>
            <img src="https://image.flaticon.com/icons/svg/497/497348.svg" alt="" class="w-8">
          </div>
        </nav>
        <header class="container px-4 lg:flex mt-10 items-center h-full lg:mt-0">
          <div class="w-full">
            <h1 class="text-4xl lg:text-6xl font-bold">Welcome to <span class="text-yellow-600">Answer Hive!</span></h1>
            <div class="w-20 h-2 bg-yellow-600 my-4"></div>
            <p class="text-xl mb-10">Ask away and your questions shall <span class="font-bold">bee</span> answered.</p>
            <a href="/dashboard" class="bg-gray-900 text-white text-2xl font-medium px-4 py-2 rounded shadow">Get started</a>
          </div>
        </header>
      </div>
    </div>
    <img src="https://images.unsplash.com/photo-1580912458702-6fa698fc553e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Honeycomb" class="w-full h-48 object-cover sm:h-screen sm:w-4/12">
  </div>